{% extends '_helpers/variables' %}

{# ===============
   UNIVERSAL CARD
   =============== #}

{% block content  %}

	{% set imageCrop = {
	mode: 'crop',
	width: 1000,
	height: 1000,
	quality: 60,
	position: 'center-center'
	} %}

	<article class="card--{{ cardType }}">
		<a href="{{link}}" class="card card--{{ channel|lower }} {% if cardType == 'social' %}card__{{ network|lower }}{% endif %} {% if image is not defined %}card__no-image{% endif %} link" {% if image is defined %}style="background-image: url('{{ image.url(imageCrop) }}'); background-size: cover;background-position:center center;"{% endif %}>
			<div class="card__overlay">
				<div class="card__content_wrap">
					{% include '_elements/_admin-actions.twig' %}
					<div class="card__content">
						<div class="card__channel-wrap">
							<h5 class="card__channel">{{ channel }}</h5>
						</div>
						{% if cardType == 'social' %}
							<p class="card__text">{{ text|striptags[:120] ~ '...' }}</p>
							<p class="card__author"><i class="card__network-icon fa {% if network == 'youtube' %}fa-youtube-play{% elseif network|lower == 'facebookpages' %}fa-facebook{% else %}fa-{{ network|lower }}{% endif %}"></i> @{{ author }}</p>
							<p class="card__read-more">By {{ author }}</p>
						{% elseif cardType == 'article' %}
							<h3 class="card__headline">{{ headline }}</h3>
							<p class="card__text">{{ text|striptags[:120] ~ '...' }}</p>
							<div class="card__read-time_wrap">
								<p class="card__read-time"><span class="card__paragraph-icon"></span> 5 min read</p>
							</div>
						{% endif %}
					</div>
					{% if image is defined %}
						<div class="card__image" style="background-image: url('{{ image.url() }}'); background-size: cover;background-position:center center;"></div>
					{% endif %}
				</div>
			</div>
		</a>
	</article>
{% endblock %}