{% extends '_helpers/variables' %}

{% block content %}

		<div class="modal-dialog modal-extlg" role="document">
			<div class="modal-content social-modal">
				<button type="button" class="close close__lg-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="/static/images/icons/close-modal.svg" alt=""><div class="close__text">esc</div></span></button>
				<div class="social-modal__content">
					<button type="button" class="close close__sm-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="/static/images/icons/close-modal.svg" alt=""></span></button>
					<div class="social-modal__channel social-modal__channel--technology">{{ channel }}</div>
					<div class="social-modal__text">{{ text }}</div>
					<div class="article__profile">
						<span class="profile__user_image" style="background-image: url('{{ authorImage }}'); height: 56px; width: 56px; background-size: cover; display: inline-block; border-radius: 50%;"></span>
						<div class="profile__author_wrap">
							<span class="article__author">By {{ author }}</span>
							<a href="/user-posts/{{ author }}" class="button button__follow">Follow</a>
						</div>
					</div>
				</div>
				<div class="social-modal__image_container">
					<div class="social-modal__image_wrap">
						{% if image is defined and embed is null %}
							<img class="social-modal__image" src="{{ image.url() }}">
						{% elseif embed is defined  %}
							<div class="social-modal__video-wrap">
								{{ embed.safeHtml|raw }}
							</div>
						{% endif %}
					</div>
				</div>
				{#<p>#}
				{#<span style="background-image: url('{{ authorImage }}'); height: 50px; width: 50px; background-size: cover; display: inline-block; border-radius: 50%;"></span>#}
				{#<a href="{{ socialLink }}">{{ network }} @{{ author }}</a></p>#}
				{#<p>{{ date }}</p>#}
			</div>
		</div>
{% endblock %}